@page "/"

<style>
 .Sim {
    color: white;
    background-color:dimgrey;
    text-decoration:line-through red;
}       

.bt{
  background-color: rgb(0, 80, 185);
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

#tarefainput{
  font-size: 12px;
  padding: 10px 22px;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
}

</style>

<div id="tablecontainer">
<table id="tabela">
<thead>
    <tr>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Data</th>
        <th>Concluidas</th>
    </tr>
</thead>
<tbody>
        @foreach (var item in tarefas)
        {
            
     <tr class="@item.Concluida">
         <td>@item.Nome</td>
        <td>@item.Descricao</td>
        <td>@item.DataCriacao</td>
        <td><input type="checkbox" @onclick="@item.Cheked" />@item.Concluida @item.DataConclusao</td>
    </tr> 
        
        }
</tbody>
</table>
</div>
@if(tarefas != null)
{
    <hr />
    <div class="desc">
        <label>Nome</label>
        <input type="text" placeholder="seu nome" id="tarefainput" @bind="Nomee" />
        <label>Tarefa</label>
        <input type="Text" placeholder="Informe a tarefa" id="tarefainput" @bind="NovaTarefa" />
        <button class="bt" @onclick="AdicionarNovaTarefa"> Registrar Tarefa</button>

    </div>
}


@code{


    public class Tarefa {

        public string Nome { get; set; }
        public Guid ID { get; set; }
        public string Descricao { get; set; }
        public string Concluida { get; set; }
        public DateTime DataCriacao { get; set; }  
        public string DataConclusao { get; set; }
        public DateTime aux { get; set; }

        public void Cheked()
        {
            aux = DateTime.Now;
            Concluida = Concluida is "Nao" ? "Sim" : "Nao";
            if(Concluida is "Sim")
            {
                DataConclusao = " as: " + aux.ToString();
            }
            else
            {
                DataConclusao = "" ;
            }

            

        }

    }
    Tarefa teste = new Tarefa();
    private string NovaTarefa = "";
    private string Nomee;
    private List<Tarefa> tarefas = new List<Tarefa>();
    public void AdicionarNovaTarefa()
    {
        if (!string.IsNullOrWhiteSpace(NovaTarefa) && !string.IsNullOrWhiteSpace(Nomee))
        {
            //tarefas.Add(new Tarefa(Nomee, DataCriacao, Descricao, ID));      

            tarefas.Add(new Tarefa {
                    Nome = Nomee,
                    DataCriacao = DateTime.Now,
                    Descricao = NovaTarefa,
                    ID = Guid.NewGuid(),
                    Concluida = "Nao",
                    DataConclusao = ""
        });

        }
        NovaTarefa = "";          
    }



   
}